.spyproject
.idea
__pycache__
logs
cache
jobs
models/*
tensorrt_cpp/build/*
.clangd*
build/*
tensorrt_cpp/build/*
tensorrt_cpp/.cache*
compile_commands.json

.cache/*


trace_model/*.log
trace_model/results/*